<div ng-controller="photoListCtrl">
  <div class="pure-g-r">
    <div id="photoFormWrap" class="pure-u-1">
      <form id="photoDrop" ng-upload method="post" class="pure-form" action="http://127.0.0.1:8001/api/photos/?format=json&response_type=text_html" enctype="multipart/form-data">
        <fieldset>
           <label for="imageField">Photo</label>
           <input id="imageField" type="file" name="image" />
          <button type="submit" class="pure-button primary" upload-submit="uploadComplete(content, completed)">Submit</button>
        </fieldset>
      </form>
      <button ng-click=enableBulkEdit() class="pure-button secondary">Bulk Changes</button> 
    </div>
  </div>
  <div class="pure-g-r">
    <div id="photoList" class="pure-u-1">
      <span ng-repeat="photo in photos.results | orderBy: '-exif_date_taken'">
          <a ng-click=photoClick(photo)>
            <img ng-class="{'selected': photo.selected}" ng-repeat="thumbnail in photo.crops|filter:desc='thumbnail'" ng-src="{{ thumbnail.crop_url }}">
          </a>
      </span>
    </div>
  </div>
  <div class="pure-g-r" ng-show="editMode">
    <div id="actionBar" class="pure-u-1">
      <button ng-click=deleteImages(photoGroup) ng-show="photoGroup.length > 0" class="pure-button warning">Delete Images</button>
      <button ng-show="photoGroup.length > 0" class="pure-button secondary">Add to Gallery</button>
      <button ng-show="photoGroup.length > 0" class="pure-button secondary">Modify Properties</button>
      <span id="actionText">Please select images to edit.</span>
    </div>
</div>
