body {
    margin: 0 auto;
}

p {
    color: #585858;
}

/* UI Stuff */
button.primary {
    background-color: #0798d7;
    color: #FFF;
}

button.secondary {
    background-color: #FFB700;
    color: #FFF;
}

button.warning {
    background-color: #FF3100;
    color: #FFF;
}

/* Photo page stuff */
#photoFormWrap {
    height: 60px;
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
}

#photoDrop {
    display: inline-block;
}

#photoList {
    margin: 0 auto;
    text-align: center;
}

#photoList img {
    width: 350px;
}

.selected {
    border: 5px;
    border-color: blue;
    border-style: solid;
}


#actionBar {
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
    padding: 15px;
    left: 0;
    background: #333;
}

#actionText {
    float: right;
    color: white;
    padding-top: 10px;
    padding-right: 25px;
}

/* Photo View stuff */
#photoBody {
    text-align: center;
    padding: 8px;
}

#photoBody img {
    max-height: 1200px;
}

#photoBodyBG {
    background: #000000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 25%;
    z-index: -2;
}

.photoInfoSection {
    padding: 10px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
}

.photoTitle {
    font-weight: 600;
    font-size: 1.8em;
    margin: 0;
}

.photoExif {
    margin-top: 10px;
}

.photoExif p {
    margin: 0;
}

.photoExif p:last-child {
    margin-bottom: 10px;
}

#photoButtons {
    padding: 10px;
    padding-top:;
}

#photoButtons button {
    display: inline;
}

div.aloha-toolbar {
    display: none !important;
}

@media (max-width: 767px) {
    #photoBodyBG {
        position: static;
    }

    #photoBody {
        background: #000000;
    }
}